html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-image: url("background.jfif");
}
#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 36px;
  color: red;
}

h2 {
  font-size: 30px;
  color: darkred;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

/* Paragraphs */
p {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 32px;
    line-height: 1.5;
    color: darkorange;
}

a:link {
  font-size: xxx-large;
  color: darkorange;
}
/* Example styles for specific paragraphs */
.intro-paragraph {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.highlighted-paragraph {
  background-color: #ffcc00;
  color: #000000;
  padding: 10px;
}

#site-content {
  background-image: url('background.jfif');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.animated-link {
  font-size: 50px;
  animation: fadeIn 1s ease-in-out;
  font-family: monospace;
  color: crimson;
  font-weight: bolder;
  text-decoration: none;
}

.profile-pic {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fadeIn 1s ease-in-out;
}

.profile-pic:hover {
  opacity: 0.8;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile Styles */
@media screen and (max-width: 800px) {
 
  #message {
  font-size: 20px;
}

  #video-container video {
    object-fit: contain;
  }
  
  #site-content {
  align-items: flex-start;
  }
  
  .profile-pic {
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
  }

  .animated-link {
    font-size: 20px;
  }
  
  .profile-pic {
  width: 10px;
  height: 10px;
  }

  p {
    font-size: 27px
  }
}
